<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.njk" %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRQBT4BW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  {% include "nav.njk" %}

  {{ content | safe }}

  {% include "footer.njk" %}

</body>
</html>
